<div class="cookies-banner hidden"  id="cookies-banner">
  <header>
    <!-- needs a cookies icon -->
    <h2>User's Cookies Consent</h2>
    <button class="c-b-b-h-button" id="info-button">Read More</button>
  </header>
  <div class="c-b-info-holder">
    <p>By clicking "OK", you agree to the storing of cookies on your device to enhance site navigation, analyze site usage,</p>
  </div>
  <div class="c-b-button-holder">
    <button class="c-b-b-h-button" id="accept-button">Accept</button>
    <button class="c-b-b-h-button" id="decline-button">Decline</button>
  </div>
</div>
